@media only screen and (min-width: 320px) {
    .bg1 {
        color: #FF6334;
    }
    .bg11 {
        background-color: #FF6334;
    }
    .bg2 {
        background-color: #224259;
    }
    /* header */
    .logohw {
        height: 90px;
        width: 110px;
    }
    .btnicon {
        height: 20px;
        width: 20px;
        margin-left: -7px;
        margin-top: -7px;
    }
    .btnborder {
        height: 30px;
        width: 30px;
    }
    .activecolor {
        color: #fc1743 !important;
    }
    .menupl {
        padding-right: 15px;
    }
    .nav-item a:hover {
        color: #fc1743 !important;
        transition: 0.4s;
    }
    .nav-item a:hover::before {
        content: "[";
        position: absolute;
        font-size: 24px;
        height: 25px;
        margin-left: -13px;
        bottom: 58px;
    }
    .nav-item a:hover::after {
        content: "]";
        position: absolute;
        font-size: 24px;
        height: 25px;
        margin-left: 3px;
        bottom: 58px;
    }
    /* banner */
    .bannerimg1 {
        background-size: cover;
        width: 100%;
    }
    .bannertext {
        color: orangered;
        position: absolute;
        z-index: 1;
        margin-top: 20px;
        margin-left: 7px;
        font-size: 34px;
    }
    .solutiontext {
        color: black;
        text-decoration: none;
        padding-left: 50px;
    }
    .marktext {
        margin-top: 160px;
        font-size: 14px;
        /* text-align: justify; */
        margin-left: 25px;
    }
    .btnstart {
        height: 40px;
        width: 150px;
        margin-left: 65px;
        border: 1px;
        border-radius: 10px;
        box-shadow: 1px 1px 7px grey;
        background-color: #ff6334;
        font-weight: 400;
        color: white;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .bg1 {
        color: #FF6334;
    }
    .bg11 {
        background-color: #FF6334;
    }
    .bg2 {
        background-color: #224259;
    }
    /* header */
    .logohw {
        height: 100px;
        width: 140px;
    }
    .activecolor {
        color: #fc1743 !important;
    }
    .menupl {
        padding-right: 15px;
    }
    .nav-item a:hover {
        color: #fc1743 !important;
        transition: 0.4s;
    }
    .nav-item a:hover::before {
        content: "[";
        position: absolute;
        font-size: 24px;
        height: 25px;
        margin-left: -13px;
        bottom: 58px;
    }
    .nav-item a:hover::after {
        content: "]";
        position: absolute;
        font-size: 24px;
        height: 25px;
        margin-left: 3px;
        bottom: 58px;
    }
    /* banner */
    .bannerimg1 {
        background-size: cover;
        width: 100%;
    }
    .bannertext {
        color: orangered;
        position: absolute;
        z-index: 1;
        margin-top: 95px;
        margin-left: 65px;
        font-size: 50px;
    }
    .solutiontext {
        color: black;
        text-decoration: none;
        padding-left: 90px;
    }
    .marktext {
        margin-top: 345px;
        font-size: 20px;
        text-align: justify;
        margin-left: 65px;
    }
    .btnstart {
        height: 40px;
        width: 150px;
        margin-left: 65px;
        border: 1px;
        border-radius: 10px;
        box-shadow: 1px 1px 7px grey;
        background-color: #ff6334;
        font-weight: 400;
        color: white;
        outline: none;
    }
}